.App {
  height: 100vh;
}

.layout {
  margin: 30px;
  display: flex;
  height: 90%;
}

.list-section {
  width: 20%;
}

.results-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}
